.search {
  margin-top: 8px;
  padding: 6px 12px;
  margin-bottom: 8px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0);
  border: 1px solid var(--border-color);
}
