.search_wrapper {
  position: relative;
  width: 100%;
}

.search {
  margin-top: 8px;
  padding: 6px 12px;
  margin-bottom: 8px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0);
  border: 1px solid var(--border-color);
  width: 95%;
  box-sizing: border-box;
}

.search_results {
  position: absolute;
  top: 40px;
  left: 6px;
  width: 95%;
  background: #252525;
  border: 1px solid #505050;
  border-radius: 6px;
  max-height: 250px;
  overflow-x: hidden;
  z-index: 200;
}

.serach_local {
  height: 40px;
  border-bottom: 1px solid #313131;
  display: flex;
  align-items: center;
}

.search_result_text {
  text-align: left;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.4);
  margin-left: 10px;
  margin: 15px 10px;
}

.search_result_item {
  position: relative;
  padding: 8px 5px;
  display: flex;
  width: 100%;
  gap: 8px;
  text-align: left;
  align-items: flex-start;
  cursor: pointer;
  overflow: hidden;
}

.search_result_item:hover {
  background: #505050;
}

.search_result_text {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
}

.search_result_username {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search_result_login {
  font-size: 12px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.4);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
