.myModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  background-color: var(--overlay-color);
  backdrop-filter: blur(2px);
  z-index: 10;
}

.myModal.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.myModal__content {
  background-color: var(--modal-bg-color);
  border-radius: 15px;
  min-width: 250px;
  max-width: 96vw;
  max-height: 94vh;
  overflow: hidden;
}

@media (max-width: 360px) {
  .myModal__content {
    min-width: 0;
    width: 96vw;
  }
}
