.description_btn {
  padding: 5px 15px;
  border-radius: 5px;
  width: 100%;
  font-size: 12px;
  color: var(--faint-text-color);
  background-color: var(--button-soft-bg-color);
  cursor: pointer;
}

.description_btn:hover {
  background-color: var(--hover-bg-color);
}
