.description_btn {
  padding: 5px 15px;
  border-radius: 5px;
  width: 100%;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.35);
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.description_btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
