.avatar_picker {
  cursor: pointer;
  margin-right: 10px;
  position: relative;
  display: flex;
  width: 100px;
  height: 105px;
}

.avatar_picker:hover {
  opacity: 50%;
}

.avatar_picker_icon {
  position: absolute;
  top: 29%;
  left: 29%;
}

.avatar_input {
  display: none;
}

.avatar_placeholder {
  cursor: pointer;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
}

.avatar_preview {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
