.chat_list {
  max-width: 300px;
  min-width: 250px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chat_list__content {
  background-color: var(--box-bg-color);
  max-height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 8px 0;
  flex: 1;
  min-height: 0;
}

.chat_list__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 8px;
  background-color: var(--main-color);
  cursor: pointer;
  font-size: 12px;
  font-weight: 800;
  margin: 0 8px;
}

.chat_list__btn img {
  margin-right: 5px;
}

.chat_list__btn:hover {
  background-color: var(--main-hover-color);
}

.chat__list__scroll {
  flex: 1;
  overflow-y: auto;
  min-height: 0;
}
