.content {
  padding: 15px 20px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.close {
  background: rgba(0, 0, 0, 0);
}

.description {
  display: flex;
  margin-top: 15px;
}

.input_box {
  display: flex;
  flex-direction: column;
}

.input {
  background: #252525;
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.partchipants__list {
  margin-top: 5px;
  margin-bottom: 15px;
  height: 200px;
  overflow-y: auto;
}

.partchipants__list_title {
  text-align: left;
  color: #707070;
  font-size: 14px;
  font-weight: 400;
  margin: 15px 5px 5px 5px;
}

.create_chat_btn {
  background: var(--main-color);
  padding: 10px 15px;
  border-radius: 10px;
  width: 100%;
}

.create_chat_btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background: #252525;
}

.create_chat_btn:hover {
  opacity: 50%;
}

.create_chat_private {
  display: flex;
  align-items: left;
  margin-bottom: 10px;
  font-size: 14px;
  color: #b1b1b1;
}

.create_chat_private input {
  margin-right: 8px;
}
