.content {
  padding: 15px 20px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.close {
  background: rgba(0, 0, 0, 0);
}

.description {
  display: flex;
  margin-top: 15px;
}

.input_box {
  display: flex;
  flex-direction: column;
}

.input {
  background: #252525;
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.partchipants__list {
  margin-top: 10px;
  margin-bottom: 15px;
  height: 200px;
  overflow-y: auto;
}

.partchipants__list_title {
  text-align: left;
  color: #707070;
  font-size: 14px;
  font-weight: 400;
  margin: 5px;
}

.create_chat_btn {
  background: #252525;
  padding: 10px 15px;
  border-radius: 10px;
  width: 100%;
}

.create_chat_btn:hover {
  background: #1f1f1f;
}
