.message {
  display: flex;
  margin-bottom: 15px;
  gap: 5px;
  text-align: left;
  max-width: 800px;
}

.message__bubble {
  font-size: 13px;
  font-weight: 700;
  background: var(--main-color);
  padding: 10px;
  border-radius: 10px 10px 10px 0px;
  display: flex;
  align-items: center;
}

.other_message {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
  gap: 5px;
}

.other_message__bubble {
  font-size: 12px;
  font-weight: 700;
  background: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 10px 10px 0px 10px;
}

.message__time {
  font-size: 10px;
  color: #ffffffa6;
  text-align: right;
  align-self: flex-end;
  margin-left: 8px;
}
