.search_user_wrapper {
  position: relative;
  width: 100%;
}

.search_user_btn {
  padding: 10px 15px;
  width: 100%;
  background: #252525;
  border-radius: 10px;
  cursor: pointer;
}

.search_user_input {
  width: 100%;
  padding: 10px 15px;
  background: #252525;
  border-radius: 10px;
  box-sizing: border-box;
}

.search_results {
  position: absolute;
  top: 28px;
  width: 100%;
  background: #252525;
  border: 1px solid #505050;
  border-radius: 6px;
  max-height: 250px;
  overflow-y: auto;
  z-index: 200;
}

.search_result_item {
  padding: 8px 5px;
  display: flex;
  width: 100%;
  gap: 8px;
  text-align: left;
  align-items: flex-start;
  cursor: pointer;
  overflow: hidden;
}

.search_result_item:hover {
  background: #505050;
}

.search_result_item.selected_user .search_result_avatar {
  border: 3px solid var(--main-color);
}

.search_result_item.selected_user .selected_user_check_mark {
  display: block;
}

.selected_user {
  position: relative;
}

.selected_user_check_mark {
  border-radius: 50%;
  display: none;

  width: 15px;
  height: 15px;
  background-color: var(--main-color);
  margin-top: 10px;
}

.selected_user_check_mark span {
  content: "\2713";
  color: #252525;
  position: absolute;
  top: 12px;
  left: 8px;
  border-radius: 50%;
}

.search_result_avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}

.search_result_text {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
}

.search_result_username {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search_result_login {
  font-size: 12px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.4);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.participant__description {
  text-align: left;
}

.participant__description_login {
  color: #797979 !important;
  font-size: 12px !important;
  font-weight: 600;
}
