.settings_modal {
  height: 500px;
}

.settings_header {
  display: flex;
  gap: 25px;
  padding: 10px 10px;
  position: relative;
  justify-content: center;
  align-items: center;
}

.settings_body {
  padding: 10px;
  text-align: left;
  margin-bottom: 20px;
}

.settings_page {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 50%;
  cursor: pointer;
}

.settings_page:hover {
  opacity: 100%;
}

.close {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: transparent;
  margin-right: 20px;
  position: absolute;
  top: 8px;
  left: 10px;
}

.close img {
  width: 100%;
  height: 100%;
}

.close:hover {
  opacity: 50%;
}

.settings_box {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.settings_field {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.settings_input {
  background: #252525;
  padding: 10px 15px;
  border-radius: 10px;
  max-width: 150px;
}

.settings_label {
  font-size: 15px;
  margin-bottom: 20px;
  opacity: 40%;
}
