* {
  margin: 0;
  padding: 0;
  border: none;
  transition: 0.2s all;
  color: whitesmoke;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  scrollbar-color: #202020 rgba(0, 0, 0, 0);
  scrollbar-width: thin;
}

:root {
  --bg-color: #17181b;
  --box-bg-color: #252529;
  --main-color: #7b61ff;
  --main-hover-color: #8b74ff;
  --border-color: #3a3a40;
}

button {
  background: #3b3b3b;
  cursor: pointer;
}

/* :root {
  --bg-color: rgba(0,0,0, 0.35);
  --box-bg-color: rgba(255,255,255,0.1);
  --main-color: #7B61FF;
  --main-hover-color: #8b74ff;
  --border-color: #3A3A40;
} */

body {
  margin: auto;
  background-color: var(--bg-color);
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

a:hover {
  opacity: 80%;
}

#root,
.container {
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.chat_page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  gap: 8px;
  display: flex;
  height: 100%;
}

.chat {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: var(--box-bg-color);
  min-width: 500px;
  position: relative;
}

.chat__empty {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: var(--box-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat__empty p {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.5);
  padding: 10px 20px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.chat__loader {
  width: 100%;
  height: 95%;
  border-radius: 10px;
  background-color: var(--box-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat_description {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: var(--box-bg-color);
  max-width: 210px;
}

.chat_description__content {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.chat_description__buttons {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  margin: 8px 0;
  padding: 0 8px;
}

.chat_description__online {
  text-align: left;
  font-size: 12px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.35);
  cursor: pointer;
  background: var(--box-bg-color);
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 8px;
  border-radius: 5px;
  padding: 5px 5px 5px 15px;
  width: 65px;
  border: none;
}

.chat_description__online:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.chat_description__online::after {
  content: "";
  position: absolute;
  left: 8px;
  top: 10px;
  transform: translateY(-50%) rotate(45deg);
  width: 5px;
  height: 5px;
  border-right: 2px solid rgba(255, 255, 255, 0.35);
  border-bottom: 2px solid rgba(255, 255, 255, 0.35);
  pointer-events: none;
  transition: transform 0.2s ease;
}

.chat_list_element {
  display: flex;
  padding: 8px;
  cursor: pointer;
}

.chat_list_element:last-child {
  margin-bottom: 120px;
}

.chat_list_element.chat_active {
  background-color: rgba(153, 153, 153, 0.1);
  border-left: 4px var(--main-color) solid;
}

.chat_list_element:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.chat_list_element__text_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  margin-left: 10px;
  flex-grow: 1;
}

.chat_list_element__title {
  font-size: 13px;
}

.chat_list_element__last_message {
  font-size: 12px;
  margin-top: 7px;
  color: rgba(255, 255, 255, 0.35);
}

.chat_list_element__time {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.35);
}

.chat__header {
  border-bottom: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  padding: 5px 15px;
}

.spacer {
  margin-top: auto;
}

.chat__message_list {
  padding: 12px;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  min-height: 0;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 50px;
}

.chat__top_loader {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

.chat__bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 68px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  background: transparent;
  box-sizing: border-box;
}

.chat__input {
  background: linear-gradient(to right, #3a3a4059, #7b61ff23);
  border-radius: 30px;
  margin-right: 10px;
  padding: 0 15px;
  backdrop-filter: blur(20px);
  height: 45px;
  width: 95%;
  box-shadow: -1px -1px 0 rgba(255, 255, 255, 0.1),
    1px 1px 0 rgba(185, 185, 185, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.chat__send_btn {
  min-width: 45px;
  height: 45px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: -1px -1px 0 rgba(255, 255, 255, 0.1),
    1px 1px 0 rgba(185, 185, 185, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.05);
  background-color: #7b61ff44;
  backdrop-filter: blur(20px);
}

.chat__send_btn img {
  width: 20px;
  height: 20px;
}

.chat__send_btn:hover {
  background-color: #7b61ff96;
}

.profile__avatar {
  min-width: 40px;
  min-height: 40px;
  border-radius: 50%;
  background-color: rgb(88, 88, 88);
}

.profile {
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--box-bg-color);
  margin-top: 8px;
  height: 60px;
  padding: 0 8px;
}

.profile__info {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: left;
  justify-content: center;
  width: 100%;
}

.profile_username {
  font-size: 13px;
  font-weight: bolder;
}

.profile__status {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.35);
}

.profile__settings_btn {
  border-radius: 10px;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.profile__settings_btn:hover {
  opacity: 50%;
}

.chat_avatar {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255, 0.1);
}

.chat__header_info {
  text-align: left;
  margin-left: 8px;
}

.chat__header_name {
  font-size: 13px;
  font-weight: bolder;
  margin-bottom: 5px;
}

.chat__header_description {
  font-size: 12px;
}

.participants_list {
  margin: 2px 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
}

.participant {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
  position: relative;
}

.participant__remove {
  margin-left: auto;
  padding: 5px 8px;
  border-radius: 50%;
}

.participant__remove:hover {
  background: rgba(255, 255, 255, 0.2);
}

.participant:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.participant p {
  color: var(--main-color);
  font-size: 14px;
}

.logout {
  padding: 5px 10px;
  border-radius: 5px;
  background: #b91515;
  margin-right: 10px;
}

.logout:hover {
  background: #d61919;
}

.logout:active {
  transform: translateY(1px);
}

.chat_empty {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat_empty p {
  width: fit-content;
  padding: 15px 30px;
  background: var(--box-bg-color);
  color: white;
  border-radius: 8px;
  font-size: 14px;
}

.chat_window {
  padding: 8px 0 8px 8px 8px;
  display: flex;
  gap: 8px;
  width: 100%;
  height: 100%;
  min-width: 0;
}

.chat_element_loader {
  width: 100%;
  height: 60px;
  background: #2e2e2e69;
}

.shimmer {
  position: relative;
  overflow: hidden;
}

.shimmer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.1),
    transparent
  );
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

.participant_profile {
  width: 200px;
  background: #22222280;
  backdrop-filter: blur(20px);
  border-radius: 15px;
  position: absolute;
  top: -10px;
  left: -205px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(68, 68, 68, 0.5);
  z-index: 2;
  padding: 15px;
  box-sizing: border-box;
}

.participant_profile_header {
  width: 100%;
  display: flex;
  gap: 10px;
}

.participant_profile_header_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.participant_profile_send_mes {
  padding: 8px 0px;
  font-size: 12px;
  width: 110px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  margin-top: 10px;
  cursor: pointer;
}

.participant_profile_send_mes:hover {
  background: rgba(255, 255, 255, 0.2);
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #2f2f2f;
  border-top: 4px solid #7a7aff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
