.user_avatar {
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  position: relative;
  background: #ffffff10;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.user_avatar img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.status,
.status_offline {
  position: absolute;
  top: 22px;
  right: -2px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 3px solid var(--box-bg-color);
}

.status {
  background: var(--main-color);
}

.status_offline {
  background: #535353;
}
